/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Harry P', sans-serif;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background for the header */
}

.logo {
  max-width: 100%;
  height: auto;
}

button {
  padding: 10px 20px;
  background-color: #8B0000;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}

button:hover {
  background-color: #f44336;
}

main {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent background for the content */
  margin-top: 50px;
}

.college-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.college {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.college h2 {
  margin-bottom: 20px;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Harry P', sans-serif;
}

.college-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent background for each college */
  border-radius: 8px;
}

.college-logo {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.score-bar {
  margin-top: 20px;
}

.score {
  height: 30px;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding-left: 10px;
  line-height: 30px;
  margin-top: 5px;
}

.goblet-of-fire {
  background-color: #FFD700;
}

.improper-use {
  background-color: #C71585;
}

.quidditch {
  background-color: #008080;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
}

footer p {
  font-family: 'Harry P', sans-serif;
}

button {
  font-family: 'Harry P', sans-serif;
}
